	
	
			.btn-primary{
				background-color:	green;
				background:	hsl(120, 70%, 40%);
			}
			
			.form-control{
				border-left:	none;
				border-right:	none;
				border-top:		none;
			}
		
			body{
				text-align:	right;
				direction:	rtl;
			}
			label{
				width:		5em;
				display:	inline-block;
			}
		